*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 0) and (max-width: 1199px) {
  body {
    font-size: 12px;
  }
}

a {
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
  margin: 0 0 30px;
}
@media (min-width: 0) and (max-width: 1199px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 50px;
  color: #2f281e;
}
@media (min-width: 0) and (max-width: 1199px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2f281e;
  margin: 0 0 16px;
}
@media (min-width: 0) and (max-width: 1199px) {
  h3 {
    font-size: 16px;
  }
}

p {
  margin: 0 0 40px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1224px;
}

.header {
  padding: 17px 0;
}
.header .btn-list {
  list-style: none;
  padding: 0;
  margin: 0 -16px;
}
.header .btn-list .btn-item {
  display: inline-block;
  padding: 0 16px;
  margin-right: -3px;
}

.nav-list {
  margin: 0 -10px;
  padding: 9px 0;
  list-style: none;
}
.nav-list .nav-item {
  display: inline-block;
}
.nav-list .nav-item.active {
  color: #ff9900;
}
.nav-list .nav-item:hover {
  color: #ff9900;
}
.nav-list .nav-item .nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2f281e;
  text-decoration: none;
}
@media (min-width: 0) and (max-width: 1199px) {
  .nav-list .nav-item .nav-link {
    font-size: 12px;
    padding: 2px;
  }
}

.btn {
  width: 180px;
  display: inline-block;
  background-color: #ff9900;
  padding: 12px 25px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: 1px solid #ff9900;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  background-color: #fff;
  border-color: #bcd0e5;
  color: #2f281e;
}
.btn.btn-small {
  width: 110px;
  padding: 9px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .btn.btn-small {
    font-size: 12px;
    padding: 2px;
    width: 60px;
  }
}
.btn.btn-transparent {
  width: 110px;
  padding: 9px;
  background-color: #fff;
  border-color: #bcd0e5;
  color: #2f281e;
}
.btn.btn-transparent:hover {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: #fff;
}
@media (min-width: 0) and (max-width: 1199px) {
  .btn.btn-transparent {
    font-size: 12px;
    padding: 2px;
    width: 60px;
  }
}
.btn.small-btn {
  font-weight: 600;
  line-height: 20px;
  color: #2f281e;
}

.footer .container {
  padding: 70px 0;
}
.footer .container .footer-headings {
  font-size: 20px;
  font-weight: 700;
  color: #2f281e;
  display: block;
  margin-bottom: 30px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .footer .container .footer-headings {
    font-size: 12px;
  }
}
.footer .container .logo-holder.footer {
  display: inline;
  margin-right: 130px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .footer .container .logo-holder.footer {
    margin-right: 10px;
  }
}
.footer .footer-line {
  display: block;
  border-bottom: 1px solid #68b9ef;
  max-width: 1230px;
  margin: 0 auto;
}

.footer-lists {
  padding-right: 70px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .footer-lists {
    padding-right: 10px;
  }
}
.footer-lists .footer-list {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.footer-lists .footer-list li {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding-bottom: 13px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .footer-lists .footer-list li {
    font-size: 12px;
  }
}
.footer-lists .footer-list .footer-list-link {
  text-decoration: none;
  color: #544837;
}

.sign-up-form {
  display: inline;
  max-width: 360px;
}
.sign-up-form .footer-form-input {
  max-width: 100%;
  width: 260px;
  height: 50px;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .sign-up-form .footer-form-input {
    font-size: 12px;
  }
}

.design-tools {
  padding: 0 0 74px;
  margin: 0 0 100px;
  background-repeat: no-repeat;
  background-image: url("../img/bg-oval.svg");
  background-position: 50% 50%;
}
.design-tools .row {
  margin-right: -20px;
  margin-left: -20px;
}
.design-tools .row [class^=col-] {
  padding-right: 20px;
  padding-left: 20px;
}
.design-tools .row .icon-holder {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 30px;
}
.design-tools .title-holder {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}
.design-tools .btn-holder {
  text-align: center;
  padding-top: 25px;
}

.design-section {
  margin-bottom: 100px;
}
.design-section:nth-child(even) .img-holder {
  padding-right: 110px;
  padding-left: 0;
}
.design-section .img-holder {
  padding-left: 110px;
}
.design-section .text-col h2 {
  margin-bottom: 20px;
}
.design-section .text-holder strong {
  margin-bottom: 10px;
  display: block;
}

.product-manager-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-manager-list li img {
  display: inline;
  width: 10%;
  float: left;
}
.product-manager-list li p {
  display: inline;
  width: 90%;
  float: left;
  padding: 0 10px;
}